/*variables*/
:root{

}
/*header*/
header{
    max-width: 1920px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 20;
}
.header-div1{
    width: 80%;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: space-between;
}
.instagram-img{
    margin: 10px 0 10px 0;
}
.header-icon{
    width: 25px;
    display: flex;
    flex-direction: column;
}
.fa-brands{
    width: 25px;
    color: #42495B;
}
.fa-instagram{
    margin: 30px 0;
}
.header-logo{
    display: flex;
    justify-content: center;
}
.header-div2{
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-nav{
    width: 700px;
    display: flex;
    justify-content: space-around;
}
/*home page*/
.bg-image{
    background-image: url("../img/section1img.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    position: relative;
}
.bg-image::before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to right, rgba(255,255,255,1) 33%,rgba(255,255,255,0) 94%);
}
.home-page-left{
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 100px;
    left:130px;
}
.home-page-title{
    color: #42495B;
    font-size: 60px;
    margin-bottom: 30px;
}
.home-page-text{
    color: #42495B;
    font-size: 20px;
    max-width: 400px;
    width: 100%;
}
.home-page-right{
    display: inline-flex;
    margin: 0;
}
.home-page-img{
    max-width: 1300px;
    width: 100%;
}
/*galery page*/
.gallery-title{
    text-align: center;
    color: #42495B;
    font-size: 32px;
    margin: 50px auto;
}
.solid{
    width: 25%;
}
.gallery-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-size{
    max-width: 300px;
    padding: 0 15px 15px 0;
}
/*css for gallery page*/
.pages{
    margin-top: 200px;
}
/*shop page*/
.shop-div{
    width: 100%;
    margin: 0 auto;
}
.shop-title{
    text-align: center;
    color: #42495B;
    font-size: 32px;
    margin: 50px auto;
}
.shop-div-wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-img-div{
    margin-bottom: 80px;
}
.shop-img-bottom-div{
    width: 290px;
    text-align: center;
}
.shop-img-div-title{
    font-size: 20px;
    color: #C19C9C;
}
.shop-img-div-text{
    font-size: 14px;
    color: #565656;
    margin: 7px auto;
}
/*order page*/
.order-div-title{
    text-align: center;
    color: #42495B;
    font-size: 32px;
    margin: 50px auto;
}
.order-div{
    max-width: 1920px;
    width: 100%;
    height: 451px;
    display: flex;
    flex-direction: row;
    background-color: #F9E7E7;
    margin-bottom: 10px;
}
.order-div-img{
    width: 50%;
    height: 451px;
}
.order-img{
    width: 100%;
    height: 100%;
}

.order-div-right{
    width: 50%;
    padding-top: 45px;
}
.order-title{
    width: 80%;
    margin: 0 10% 5px 10%;
    font-size: 38px;
    color:#42495B;
}
.order-text{
    width: 80%;
    font-size: 20px;
    color: #42495B;
    margin: 0 10% 26px 10%;
}
.input-style{
    width: 80%;
    height: 35px;
    margin: 5px 10% 0 10%;
    color: #42495B;
}
.input-style::placeholder{
    color: #42495B;
}
.input-style:focus{
    outline: none;
}
.button{
    width: 80%;
    margin: 20px 10% ;
    height: 35px;
    border: solid #1D1D1D;
    background-color: #1D1D1D;
    color: #fff;
    font-size: 21px;
    text-align: center;
}
.div-subscribe{
    width: 60%;
    margin: 100px 20%;
}
.subscribe > p{
    font-size: 16px;
    color: #42495B;
    max-width: 450px;
    width: 100%;
    margin: -20px auto 20px auto;
}
.btn-color{
    background-color: #F9E7E7;
    border: solid #F9E7E7;
    color: #1D1D1D;
}
.input-icon i{
    position: absolute;
    right: 12%;
    top: 35%
}
.input-icon:focus{
    display: none;
}
.input-icon{
    position: relative;
}
.fa-solid{
    color: #565656;
}
/*contact page*/
.contact-div{
    max-width: 80%;
    margin: 200px auto 100px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-div p{
    width: 300px;
    font-size: 35px;
    color: #C19C9C;
    margin-bottom: 20px;
}
.contact-div ul{
    font-size: 18px;
    color: #42495B;
}
.map-div{
    width: 60%;
    height: 270px;
}
.map{
    width: 100%;
    height: 100%;
}
/*footer css*/
footer{
    background-color: #F9E7E7;
    height: 200px;
}
footer p{
    color: #C19C9C;
    margin-bottom: 15px;

}
footer a{
    color: #42495B;
}
footer li{
    margin-bottom: 5px;
}
.adress{
    margin-top: 30px;
}
.footer-div{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}




